force-app/main/default/flows/AddDocumentToSemanticSearch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Gets embedding (vector) for entered text</description>
        <name>GetEmbeddingForText</name>
        <label>Get Embedding For Text</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>OpenAIEmbeddingsService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SaveRequirement</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>documents</name>
            <value>
                <elementReference>Requirement</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpenAIEmbeddingsService</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Saves requirement to the database with wthe embedding</description>
        <name>SaveRequirement</name>
        <label>Save Requirement</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>MongoDbInsertDocumentService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SuccessScreen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>embedding</name>
            <value>
                <elementReference>GetEmbeddingForText.embedding</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>Requirement</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>DocuemntType</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MongoDbInsertDocumentService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <choices>
        <description>Code</description>
        <name>CodeOption</name>
        <choiceText>Code</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Code</stringValue>
        </value>
    </choices>
    <choices>
        <name>DocumentOption</name>
        <choiceText>Document</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Document</stringValue>
        </value>
    </choices>
    <choices>
        <description>Type of document</description>
        <name>RequirementOption</name>
        <choiceText>Requirement</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Requirement</stringValue>
        </value>
    </choices>
    <environments>Default</environments>
    <interviewLabel>Add Document to Semantic Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Document to Semantic Search</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <description>Creates requirement with embedding for semantic search</description>
        <name>CreateDocument</name>
        <label>Create Requirement</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetEmbeddingForText</targetReference>
        </connector>
        <fields>
            <name>DocuemntType</name>
            <choiceReferences>DocumentOption</choiceReferences>
            <choiceReferences>RequirementOption</choiceReferences>
            <choiceReferences>CodeOption</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Docuemnt Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Requirement</name>
            <fieldText>Requirement</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SuccessScreen</name>
        <label>Success Screen</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Requirement Added with the following rembedding.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!GetEmbeddingForText.embeddingJsonArray}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CreateDocument</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
