force-app/main/default/flows/SemanticSearch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SemanticSearchExecution</name>
        <label>Semantic Search Execution</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>MongoDbSemanticSearch</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>LoopOverResults</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>searchText</name>
            <value>
                <elementReference>Searchtext</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MongoDbSemanticSearch</nameSegment>
        <outputParameters>
            <assignToReference>SearchResultsList</assignToReference>
            <name>documents</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>ConcatenateResults</name>
        <label>ConcatenateResults</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SearchResultsMerged</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverResults.score</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchResultsMerged</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos;:&lt;br/&gt;&apos;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchResultsMerged</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverResults.text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SearchResultsMerged</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&apos;&lt;br/&gt;&lt;hr/&gt;&lt;br/&gt;&lt;br/&gt;&apos;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverResults</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Semantic Search {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Semantic Search</label>
    <loops>
        <name>LoopOverResults</name>
        <label>Loop Over Results</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>SearchResultsList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ConcatenateResults</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Result</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Result</name>
        <label>Result</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SearchResult1</name>
            <fieldText>&lt;p&gt;{!SearchResultsMerged}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search</name>
        <label>Search</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SemanticSearchExecution</targetReference>
        </connector>
        <fields>
            <name>Searchtext</name>
            <fieldText>Search text</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Search</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>SearchResultsList</name>
        <apexClass>DocumentSearch</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SearchResultsMerged</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
